{% extends "base_.html" %}
{% block title %}About | 影三{% endblock %}

{% block body %}
    <section class="inner main">
        <header>
            <h1>About</h1>
            <nav class="journal breadcrumb">
                <a href="http://{{config.homepage}}/">Home</a>
                »
                About
            </nav>
        </header>
        <p>I got into computers at a young age. I thought they were really interesting and
            liked the challenges they presented. I fell into programming while I was trying
            to become a writer in college. When I’m not behind a keyboard I read, make music
            or take pictures. I also do some cooking here and&nbsp;there.</p>
        <p>I am currently a Android developer for
            <a href="http://www.starcor.com/ch/index.html">Starcor</a>. Before that I worked at
            <a href="http://www.ctg.ha.cn:6600/">REG</a> as a Construction Management Intern.</p>
        <p>I have a strict father and mother (but I was a really naughty boy when I was young...), and I have two
            sisters, I love them all.
        </p>
        <p>Like a growing number of my peers I find digital things convenient but boring.
            I enjoy listening to music on live, play games on reality, and reading books
            on paper. It is something of an irony that I make my living slinging bits. Maybe
            one day we’ll figure out how to put the Internet onto something&nbsp;analog.</p>
    </section>
{% endblock %}